## 作業:
今天學到不同統計量之間特性，  
試著分析男生女生身高資料，  
試著回答下面的問題:  
Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?    
Q2: 請問男生和女生在平均身高上誰比較高?   
Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何?    
上述問題透過  python 語法進行運算，
並將上述答案填寫在 (google 表單)[https://docs.google.com/forms/d/e/1FAIpQLSdDzwpeJl8YLPwZaW8pBZvtuXY9kIbbZLqxcXyzFaoraV5JEA/viewform ]
![](作業資料圖檔.PNG)

In [1]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns

In [2]:
## 輸入資料
boys=[164, 176, 169, 169, 165, 175, 159, 151, 144, 160, 183, 165, 156, 170,
 164, 173, 165, 163, 177, 171]

girls=[169, 183, 170, 168, 182, 170, 173, 185, 151, 156, 162, 169,162, 181, 159,
      154, 167, 175, 170,160]

In [4]:
#Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?
#暗示:  分別計算男生和女生的統計量

# 計算統計量_平均數
mean_boy=np.mean(boys)
print("男孩身高平均=",mean_boy)

statistics_mean_girls=statistics.mean(girls)
print("女孩身高平均=",statistics_mean_girls)

男孩身高平均= 165.95
女孩身高平均= 168.3

In [6]:
# 計算統計量_中位數的方法
np_median_boy = np.median(boys,axis=None)
print("np_median_boy=", np_median_boy)

statistics_median_girl=statistics.median(girls)
print("statistics_midian_girl=",statistics_median_girl)

np_median_boy= 165.0
statistics_midian_girl= 169.0

In [7]:
# 統計量_眾數
# 統計量的眾數，如果有多個眾數，取最小的值當眾數。

mode_boy=stats.mode(boys,axis=None)
print("男孩身高眾數=",mode_boy[0][0])


# 統計量_眾數
statistics_mode_girl=statistics.mode(girls)
print("statistics_mode_girl=",statistics_mode_girl)

男孩身高眾數= 165
statistics_mode_girl= 170

In [9]:
#全距
#rangeV=max(boys)-min(boys)
def rangeV(x): 
  return(max(x)-min(x))
    
print(rangeV(boys))
print(rangeV(girls))

39
34

In [10]:
# 計算變異數的方法
print("男孩身高變異數=",statistics.variance(boys))
print("女孩身高變異數=",np.var(girls,ddof=1))

男孩身高變異數= 84.89210526315789
女孩身高變異數= 95.37894736842104

In [13]:
# 統計量_標準差的方法

std_boy=np.std(boys,ddof=1)
print("男孩身高標準差=",std_boy)

statistics_stdev_girl=statistics.stdev(girls)
print("statistics_stdev_girl=",statistics_stdev_girl)

男孩身高標準差= 9.213691185575838
statistics_stdev_girl= 9.766214587465353

In [14]:
#計算峰度和偏度
print("男生")
print(stats.skew(boys))
print(stats.kurtosis(boys))
print("女生")
print(stats.skew(girls))
print(stats.kurtosis(girls))

男生
-0.47132127317376954
0.19395882957876331
女生
0.05985321129365068
-0.8203607083948947

In [18]:
classroom = pd.DataFrame([boys, girls]).T
classroom.columns = ['boys', 'girls']
classroom

    boys  girls
0    164    169
1    176    183
2    169    170
3    169    168
4    165    182
5    175    170
6    159    173
7    151    185
8    144    151
9    160    156
10   183    162
11   165    169
12   156    162
13   170    181
14   164    159
15   173    154
16   165    167
17   163    175
18   177    170
19   171    160

In [19]:
#Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?
classroom.describe()

             boys       girls
count   20.000000   20.000000
mean   165.950000  168.300000
std      9.213691    9.766215
min    144.000000  151.000000
25%    162.250000  161.500000
50%    165.000000  169.000000
75%    171.500000  173.500000
max    183.000000  185.000000

In [23]:
# 眾數
print(classroom.mode())
print("----")
# 偏度
print(classroom.skew())
print("----")
# 峰度
print(classroom.kurtosis())
print("----")
# 變異數
print(classroom.var())

   boys  girls
0   165    170
----
boys    -0.51043
girls    0.06482
dtype: float64
----
boys     0.625456
girls   -0.697137
dtype: float64
----
boys     84.892105
girls    95.378947
dtype: float64

In [24]:
#Q2: 請問男生和女生在平均身高上誰比較高? 
if np.mean(boys) > statistics.mean(girls):
    print("男生高")
else:
    print("女生高")

女生高

In [25]:
#Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何? 
# 不一樣
# 樣本問題，剛好樣本中的女生平均較高